In [1]:
import pandas as pd

import helpers.pandas_h as hp

In [2]:
df = pd.read_csv('dataset/Youtube01-Psy.csv')
df['video_id'] = 1

df_temp = pd.read_csv('dataset/Youtube02-KatyPerry.csv')
df_temp['video_id'] = 2
df = pd.concat([df, df_temp])

df_temp = pd.read_csv('dataset/Youtube03-LMFAO.csv')
df_temp['video_id'] = 3
df = pd.concat([df, df_temp])

df_temp = pd.read_csv('dataset/Youtube04-Eminem.csv')
df_temp['video_id'] = 4
df = pd.concat([df, df_temp])

df_temp = pd.read_csv('dataset/Youtube05-Shakira.csv')
df_temp['video_id'] = 5
df = pd.concat([df, df_temp])
df = df.reset_index(drop=True)

Dataset --- YouTube ID -- # Spam - # Ham - Total
Psy ------- 9bZkp7q19f0 --- 175 --- 175 --- 350
KatyPerry - CevxZvSJLk8 --- 175 --- 175 --- 350
LMFAO ----- KQ6zr6kCPj8 --- 236 --- 202 --- 438
Eminem ---- uelHwf8o7_U --- 245 --- 203 --- 448
Shakira --- pRpeEdMmmQ0 --- 174 --- 196 --- 370

In [3]:
print(len(df[df['video_id'] == 1].index))
print(len(df[(df['video_id'] == 1) & (df['CLASS'] == 1)].index))
print(len(df[(df['video_id'] == 1) & (df['CLASS'] == 0)].index))

print(len(df[df['video_id'] == 2].index))
print(len(df[(df['video_id'] == 2) & (df['CLASS'] == 1)].index))
print(len(df[(df['video_id'] == 2) & (df['CLASS'] == 0)].index))

print(len(df[df['video_id'] == 3].index))
print(len(df[(df['video_id'] == 3) & (df['CLASS'] == 1)].index))
print(len(df[(df['video_id'] == 3) & (df['CLASS'] == 0)].index))

print(len(df[df['video_id'] == 4].index))
print(len(df[(df['video_id'] == 4) & (df['CLASS'] == 1)].index))
print(len(df[(df['video_id'] == 4) & (df['CLASS'] == 0)].index))

print(len(df[df['video_id'] == 5].index))
print(len(df[(df['video_id'] == 5) & (df['CLASS'] == 1)].index))
print(len(df[(df['video_id'] == 5) & (df['CLASS'] == 0)].index))

350
175
175
350
175
175
438
236
202
448
245
203
370
174
196

In [4]:
print(len(df.index))
print(len(df[df['CLASS'] == 1].index))
print(len(df[df['CLASS'] == 0].index))

1956
1005
951

In [5]:
df.head(15)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,video_id
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1,1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1,1
5,LZQPQhLyRh9-wNRtlZDM90f1k0BrdVdJyN_YsaSwfxc,Jason Haddad,2013-11-26T02:55:11,"Hey, check out my new website!! This site is a...",1,1
6,z13lfzdo5vmdi1cm123te5uz2mqig1brz04,ferleck ferles,2013-11-27T21:39:24,Subscribe to my channel ﻿,1,1
7,z122wfnzgt30fhubn04cdn3xfx2mxzngsl40k,Bob Kanowski,2013-11-28T12:33:27,i turned it on mute as soon is i came on i jus...,0,1
8,z13ttt1jcraqexk2o234ghbgzxymz1zzi04,Cony,2013-11-28T16:01:47,You should check my channel for Funny VIDEOS!!﻿,1,1
9,z12avveb4xqiirsix04chxviiljryduwxg0,BeBe Burkey,2013-11-28T16:30:13,and u should.d check my channel and tell me wh...,1,1
10,z13auhww3oufjn1qo04ci3grqqjmfjexxuo0k,Huckyduck,2013-11-28T17:06:17,Hey subscribe to me﻿,1,1
11,z13xit5agm2zyh4f523rst2gowmbx5bml,Lone Twistt,2013-11-28T17:34:55,Once you have started reading do not stop. If...,1,1
12,z13pejoiuozwxtdu323dspopnri4xts0f,Archie Lewis,2013-11-28T17:54:39,https://twitter.com/GBphotographyGB﻿,1,1
13,z121zxaxsq25z5k5o04ch1o5jqqfij3gtm40k,TheUploadaddict,2013-11-28T18:12:12,subscribe like comment﻿,1,1
14,z12oglnpoq3gjh4om04cfdlbgp2uepyytpw0k,Francisco Nora,2013-11-28T19:52:35,please like :D https://premium.easypromosapp.c...,1,1

In [6]:
df.tail(15)

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,video_id
1941,_2viQ_Qnc69Ic8yEMHsemUQiq01-kwwqnbDowMO9kdM,lynchee360,2013-07-14T22:38:26.779000,I love dis song!! 3,0,5
1942,_2viQ_Qnc6-qHJ_u9Yv84vj4yOAPLUL3ZibCc7b-vBI,FAHAD KHAN,2013-07-14T22:06:57.712000,I WILL NEVER FORGET THIS SONG IN MY LIFE LIKE ...,1,5
1943,_2viQ_Qnc6_HU65mTzCmXnjA-WLt7XqxqPj7EwAtlO0,ricky swaggz,2013-07-14T20:40:00.331000,********OMG Facebook is OLD! Check out ------...,1,5
1944,_2viQ_Qnc6-jk58CPwBnqfbM6oByJH5oPvCtKecLQyo,Shadrach Grentz,2013-07-14T03:11:20.243000,Hey Music Fans I really appreciate all of you ...,1,5
1945,_2viQ_Qnc6_fgKR1W7-k1lbVURi8hVbMlQAMSOCSnyk,ThirdDegr3e,2013-07-13T20:48:22.967000,**CHECK OUT MY NEW MIXTAPE**** **CHECK OUT MY ...,1,5
1946,_2viQ_Qnc69MEEHHJxZ427KX8MlljJPnUC2YBbvbWwY,ThirdDegr3e,2013-07-13T20:48:06.033000,**CHECK OUT MY NEW MIXTAPE**** **CHECK OUT MY ...,1,5
1947,_2viQ_Qnc6_RKHVetk9kLzx8ZC62_J7y73FWFSBTe8Q,ThirdDegr3e,2013-07-13T20:47:40.793000,**CHECK OUT MY NEW MIXTAPE**** **CHECK OUT MY ...,1,5
1948,_2viQ_Qnc68TufyXKiTwky80ewSPbhRiD5XFHrJH9lg,Ysobel Schofield,2013-07-13T20:17:25.181000,Waka waka she rules,0,5
1949,_2viQ_Qnc689m-WiwOwvrQU7LvkLAgspnfXL8ovE0ME,TheHotChocolate,2013-07-13T18:26:37.017000,she is sooooo beautiful!,0,5
1950,_2viQ_Qnc6_1Hq9MGlefkBIszt9rYD3S_CozADvMhQ4,Dinova Sharon,2013-07-13T14:44:00.700000,well done shakira,0,5
1951,_2viQ_Qnc6-bMSjqyL1NKj57ROicCSJV5SwTrw-RFFA,Katie Mettam,2013-07-13T13:27:39.441000,I love this song because we sing it at Camp al...,0,5
1952,_2viQ_Qnc6-pY-1yR6K2FhmC5i48-WuNx5CumlHLDAI,Sabina Pearson-Smith,2013-07-13T13:14:30.021000,I love this song for two reasons: 1.it is abou...,0,5
1953,_2viQ_Qnc6_k_n_Bse9zVhJP8tJReZpo8uM2uZfnzDs,jeffrey jules,2013-07-13T12:09:31.188000,wow,0,5
1954,_2viQ_Qnc6_yBt8UGMWyg3vh0PulTqcqyQtdE7d4Fl0,Aishlin Maciel,2013-07-13T11:17:52.308000,Shakira u are so wiredo,0,5
1955,_2viQ_Qnc685RPw1aSa1tfrIuHXRvAQ2rPT9R06KTqA,Latin Bosch,2013-07-12T22:33:27.916000,Shakira is the best dancer,0,5

In [7]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1956 entries, 0 to 1955
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COMMENT_ID  1956 non-null   object
 1   AUTHOR      1956 non-null   object
 2   DATE        1711 non-null   object
 3   CONTENT     1956 non-null   object
 4   CLASS       1956 non-null   int64
 5   video_id    1956 non-null   int64
dtypes: int64(2), object(4)
memory usage: 91.8+ KB

In [8]:
print(f"Total number of NaN s:{df.isnull().sum().sum()}")
hp.null_val_summary(df=df)

Total number of NaN s:245

                 COMMENT_ID  AUTHOR       DATE CONTENT  CLASS video_id
column type          object  object     object  object  int64    int64
null values (nb)          0       0        245       0      0        0
null values (%)         0.0     0.0  12.525562     0.0    0.0      0.0

In [9]:
df = df.astype({'AUTHOR': 'string',
                'CONTENT': 'string'}, errors='raise')
df.dtypes

COMMENT_ID    object
AUTHOR        string
DATE          object
CONTENT       string
CLASS          int64
video_id       int64
dtype: object

In [10]:
hp.unique_col_percent(df=df)

COMMENT_ID unique count and percentage: 1953, 99.85%
AUTHOR unique count and percentage: 1792, 91.62%
DATE unique count and percentage: 1710, 87.42%
CONTENT unique count and percentage: 1760, 89.98%
CLASS unique count and percentage: 2, 0.10%
video_id unique count and percentage: 5, 0.26%

In [11]:
hp.unique_col_percent(df=df[df['CLASS'] == 1])

COMMENT_ID unique count and percentage: 1003, 99.80%
AUTHOR unique count and percentage: 871, 86.67%
DATE unique count and percentage: 761, 75.72%
CONTENT unique count and percentage: 841, 83.68%
CLASS unique count and percentage: 1, 0.10%
video_id unique count and percentage: 5, 0.50%

In [12]:
df[df['CLASS'] == 1]['AUTHOR'].value_counts(dropna=False).head(20)

M.E.S               8
Shadrach Grentz     7
Louis Bryant        7
DanteBTV            6
Derek Moya          5
Hidden Love         5
LuckyMusiqLive      5
Scott Johnson       4
James Cook          4
RapStarz Coleman    4
Laura Brown         4
AllDailyVines       4
Drake Gagne         3
ricky swaggz        3
KOZZI RAP           3
macgyver16          3
Adam Whitney        3
OFFICIAL LEXIS      3
ThirdDegr3e         3
Pyles Baxter        3
Name: AUTHOR, dtype: Int64

In [13]:
print(len(df[df['AUTHOR'] == 'M.E.S'].index))
df[df['AUTHOR'] == 'M.E.S'].head()

8

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,video_id
1458,LneaDw26bFu8sZa1D5wQdex0wG1IYwFiZL4s3M0h2X8,M.E.S,NaN,hey its M.E.S here I&#39;m a young up and comi...,1,4
1465,LneaDw26bFsnJbhjejnJC_J6d5sHIH1B9UYVbAUc9KM,M.E.S,NaN,im M.E.S an aspiring young rapper with high ho...,1,4
1496,LneaDw26bFvk4DAhUcCJKLzujguS_mf4eS_LdZjARzE,M.E.S,NaN,hey its M.E.S here I&#39;m a young up and comi...,1,4
1518,LneaDw26bFsMrQMk1vC-RxTxjmpFlt5sKz8Vo1_wIas,M.E.S,NaN,hey its M.E.S here I&#39;m a young up and comi...,1,4
1526,LneaDw26bFuADByLeh7RnEltROTIUCqeYYXmt51DT2g,M.E.S,NaN,hey its M.E.S here I&#39;m a young up and comi...,1,4

In [14]:
print(len(df[df['AUTHOR'] == 'Shadrach Grentz'].index))
df[df['AUTHOR'] == 'Shadrach Grentz'].head()

7

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,video_id
1836,_2viQ_Qnc68dceJbTRNTP2sksMxa_lm35LaCu_jPluY,Shadrach Grentz,2013-09-29T13:59:42.162000,Hey Music Fans I really appreciate any of you ...,1,5
1914,_2viQ_Qnc69zyetF6GsHRzYGyXl4u5kg0Sm-nP-pupI,Shadrach Grentz,2013-08-02T03:15:46.914000,Hey Music Fans I really appreciate any of you ...,1,5
1915,_2viQ_Qnc699u36gNm3NRoq1quIaJWRNrftGEEZM3J4,Shadrach Grentz,2013-08-01T21:43:52.122000,Hey Music Fans I really appreciate any of you ...,1,5
1916,_2viQ_Qnc68LqKGb40V2ImKQYcp1ZqpHrCCMFqMCcA4,Shadrach Grentz,2013-08-01T20:39:15.325000,Hey Music Fans I really appreciate any of you ...,1,5
1920,_2viQ_Qnc69Nq0Ytk1jCpzWPCrpGEk6T7cdVAxfSlAk,Shadrach Grentz,2013-07-29T17:39:24.876000,Hey Music Fans I really appreciate any of you ...,1,5

In [15]:
df['COMMENT_ID'].value_counts(dropna=False).head(5)

_2viQ_Qnc68fX3dYsfYuM-m4ELMJvxOQBmBOFHqGOk0    2
LneaDw26bFuH6iFsSrjlJLJIX3qD4R8-emuZ-aGUj0o    2
LneaDw26bFvPh9xBHNw1btQoyP60ay_WWthtvXCx37s    2
LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU    1
LneaDw26bFsTytWDcS_4DFWlbxAlCfw2c_9PIcArNdw    1
Name: COMMENT_ID, dtype: int64

In [16]:
df[df['COMMENT_ID'] == '_2viQ_Qnc68fX3dYsfYuM-m4ELMJvxOQBmBOFHqGOk0']

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,video_id
1797,_2viQ_Qnc68fX3dYsfYuM-m4ELMJvxOQBmBOFHqGOk0,tyler sleetway,2013-10-05T00:57:25.078000,so beutiful,0,5
1798,_2viQ_Qnc68fX3dYsfYuM-m4ELMJvxOQBmBOFHqGOk0,tyler sleetway,2013-10-05T00:57:25.078000,so beutiful,0,5

In [17]:
df[df['COMMENT_ID'] == 'LneaDw26bFuH6iFsSrjlJLJIX3qD4R8-emuZ-aGUj0o']

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,video_id
1441,LneaDw26bFuH6iFsSrjlJLJIX3qD4R8-emuZ-aGUj0o,Amir bassem,NaN,if u love rihanna subscribe me,1,4
1443,LneaDw26bFuH6iFsSrjlJLJIX3qD4R8-emuZ-aGUj0o,Amir bassem,NaN,if u love rihanna subscribe me,1,4

In [18]:
df = df.drop_duplicates(subset=['COMMENT_ID'])
hp.unique_col_percent(df=df)
print(len(df.index))

COMMENT_ID unique count and percentage: 1953, 100.00%
AUTHOR unique count and percentage: 1792, 91.76%
DATE unique count and percentage: 1710, 87.56%
CONTENT unique count and percentage: 1760, 90.12%
CLASS unique count and percentage: 2, 0.10%
video_id unique count and percentage: 5, 0.26%
1953

In [19]:
df = df.drop(['COMMENT_ID', 'DATE', 'video_id'], axis=1)

In [20]:
df.to_parquet(path='dataset/youtube-agg-clean-v1.parquet', engine='pyarrow')